@import './reset.scss';
@import './fonts/fonts.css';
@import './variables/global.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.app {
  min-height: 100vh;

  background: var(--bg-color);
}

.app,
.app_modal,
.app_page_error {
  color: var(--primary-color);
  font: var(--font-m);
}

.app-container {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  width: 100%;
}
