@import './reset.scss';
@import './fonts/fonts.css';
@import './variables/global.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.app {
  min-height: 100vh;

  background: var(--bg-color);
}

.app,
.app_modal,
.app_page_error {
  color: var(--primary-color);
  font: var(--font-m);
}

.app-container {
  display: flex;
}

*::-webkit-scrollbar {
  width: 10px; /* ширина всей полосы прокрутки */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg); /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); /* цвет бегунка */
  border: 1px solid var(--primary-color); /* отступ вокруг бегунка */
  border-radius: 20px; /* округлось бегунка */
}
