@import url('./reset.css');
@import url('./fonts/fonts.scss');
@import url('./variables/global.scss');
@import url('./themes/light.scss');
@import url('./themes/dark.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}
