@keyframes ldio-0kmtibrvju {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-0kmtibrvju {
  position: relative;

  width: 100%;
  height: 100%;

  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */

  div {
    position: absolute;
    top: 20px;
    left: 20px;

    width: 160px;
    height: 160px;

    border-radius: 50%;

    box-shadow: 0 4px 0 0 var(--inverted-bg-color);

    box-sizing: content-box;
    animation: ldio-0kmtibrvju 1s linear infinite;
    transform-origin: 80px 82px;
  }
}
.loadingio-spinner-eclipse-01typl2e1tis {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;

  background: none;
}
