.root {
  padding: 6px 15px;
  width: min-content;

  cursor: pointer;
}

.primary {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border-radius: 5px;
  border: 1px solid black;
}

.clear {
  padding: 0;
  color: var(--inverted-primary-color);
  background: none;
  border: none;
  outline: none;
}

.outline {
  background-color: white;
}
