.root {
  width: min-content;
  padding: 6px 15px;

  cursor: pointer;
}

.primary {
  color: var(--inverted-primary-color);

  background-color: var(--inverted-bg-color);
  border: 1px solid black;
  border-radius: 5px;
}

.clear {
  padding: 0;

  color: var(--inverted-primary-color);

  background: none;
  border: none;
  outline: none;
}

.outline {
  background-color: white;
}
