.root {
  padding: 6px 15px;
  width: min-content;

  cursor: pointer;
}

.primary {
  background-color: var(--inverted-secondary-color);
  color: var(--inverted-primary-color);

  border-radius: 5px;
  border: 1px solid black;
}

.clear {
  padding: 0;

  background: none;
  border: none;
  outline: none;
}
