.listItem {
  display: flex;
  align-items: center;
  gap: 10px;

  list-style-type: none;

  width: fit-content;

  position: relative;
}

.listItemCompleted {
  opacity: 0.3;

  &::before {
    content: '';

    position: absolute;
    left: -10%;

    width: 120%;
    height: 1px;
    background-color: white;
  }
}