.listItem {
  position: relative;

  display: flex;
  align-items: center;
  gap: 10px;

  width: fit-content;

  list-style-type: none;
}

.listItemCompleted {
  opacity: 0.3;

  &::before {
    content: '';

    position: absolute;
    left: -10%;

    width: 120%;
    height: 1px;

    background-color: white;
  }
}