.root {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-expanded);
  height: calc(100vh - var(--header-height));

  padding: 10px;

  background-color: var(--inverted-bg-color);

  transition: width 0.3s;

  position: relative;
}

.collapsed {
  width: var(--sidebar-collapsed);
}

.themeSwitcher {
  position: absolute;

  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
