.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  list-style-type: none;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  a {
    display: block;
    width: 100%;
    height: 100%;

    text-align: center;
  }
}
