.root {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  width: 100%;
  height: var(--header-height);

  padding: 0 20px;

  background-color: var(--inverted-bg-color);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
