.root {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input {
  width: 100%;
  padding: 6px;

  color: var(--inverted-primary-color);

  background: var(--inverted-bg-color);

  border-radius: 10px;
}

.title {
  color: var(--primary-color);
}

.readonly {
  color: var(--inverted-secondary-color);

  outline: none;
  pointer-events: none;
}
