.controls {
  display: flex;
  gap: 20px;

  width: fit-content;

  margin-top: 1.5em;
}

.input {
  width: 400px;
  height: 40px;

  padding: 0.5em;

  border: 1px solid #1a1a1a;
  border-radius: 8px;
}
