.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  display: flex;
  align-items: flex-end;

  opacity: 0;
  pointer-events: none;
}

.content {
  position: relative;
  bottom: 0;
  z-index: 10;

  width: 100%;
  height: 70%;
  min-height: 100px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;

  background: var(--bg-color);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  transform: translateY(100%);
  transition: 0.3s transform;
}

.content::before {
  content: '';

  position: relative;
  bottom: 40px;

  display: block;
  width: 100px;
  height: 10px;
  margin: auto;

  background: var(--bg-color);
  border-radius: 12px;
}

.opened {
  z-index: 10;

  opacity: 1;
  pointer-events: auto;

  .content {
    transform: translateY(0%);
  }
}

.closing {
  .content {
    transform: translateY(100%);
  }
}
