.app_theme_dark {
  --bg-color: #0f0f76;
  --primary-color: #19e416;
  --secondary-color: #11950f;
  --inverted-bg-color: #c4c4db;
  --inverted-primary-color: #042c71;
  --inverted-secondary-color: #0c4ab6;
}
