.app_theme_light {
  --bg-color: #c4c4db;
  --primary-color: #042c71;
  --secondary-color: #0c4ab6;
  --inverted-bg-color: #0f0f76;
  --inverted-primary-color: #19e416;
  --inverted-secondary-color: #11950f;

  // card
  --card-bg: #f5f5f9;
}
