.root {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  list-style-type: none;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 60px;
  height: 40px;

  background-color: #fff;
  border-radius: 10px;

  cursor: pointer;

  a {
    color: black;
  }
}