.root {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;

  padding: 20px;

  border: 1px solid var(--inverted-bg-color);
}

.avatar {
  align-self: center;
}

.input {
  width: 50%;
}

.controls {
  position: absolute;
  right: 20px;

  display: flex;
  gap: 10px;
}

.active {
  border: 2px solid var(--primary-color);
}
