.container {
  width: 600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

.controls {
  display: flex;
  gap: 20px;

  width: fit-content;

  margin-top: 1.5em;
}

.input {
  border: 1px solid #1a1a1a;
  border-radius: 8px;

  width: 400px;
  height: 40px;

  padding: 1.5em;
}

.todoWrapper {
  width: fit-content;
}